<h2>Trip to
  {{trip.cityName}}
  from
  {{trip.formatStartDate}}
  to
  {{trip.formatEndDate}} - Accomodation: {{trip.accomodation.name}}</h2>
                <input
                type="text"
                id="trip-id"
                value="{{trip._id}}"
                hidden
              />
                              <input
                type="text"
                id="accomodation-coordinates"
                value="{{trip.accomodation.coordinates}}"
                hidden
              />
<div class="container trip-details">
    <div id="mode-selector" class="controls">
        <input
          type="radio"
          name="type"
          id="changemode-walking"
          checked="checked"
        />
        <label for="changemode-walking">Walking</label>

        <input type="radio" name="type" id="changemode-transit" />
        <label for="changemode-transit">Transit</label>

        <input type="radio" name="type" id="changemode-driving" />
        <label for="changemode-driving">Driving</label>
        <input type="radio" name="type" id="changemode-biking" />
        <label for="changemode-biking">Biking</label>
      </div>
  <div id="map"></div>
  <div id="infowindow-content">
    <form action="/trips/trip-details/{{trip._id}}/create" method="post">
      <div id="new-place-name"></div>
      <div id="new-place-address"></div>
      <input type="hidden" name="newActName" id="newActName" />
      <input type="hidden" name="newActlLat" id="newActlLat" />
      <input type="hidden" name="newActlLng" id="newActlLng" />
      <input
        type="hidden"
        name="dateId"
        id="dateId"
        value="{{defaultDate}}"
      />
      <input
        type="hidden"
        name="initLat"
        id="initLat"
        value="{{trip.cityLocation.coordinates.[0]}}"
      />
      <input
        type="hidden"
        name="initLng"
        id="initLng"
        value="{{trip.cityLocation.coordinates.[1]}}"
      />
      <div id="submitBtn"></div>
    </form>
  </div>
  <aside>
    <input type="text" name="searchActivities" id="searchActivities" />
    {{#each trip.days}}
      <div class="card" id="{{_id}}" style="cursor:pointer">
        <div class="card-body">
          <h5 class="card-title">{{formatDate}}</h5>
          {{#if activities}}
          <ol>
            {{#each activities}}
              <li class="card-text place-name">{{name}}</li>
              <input
                type="text"
                class="markers-lng"
                value="{{location.coordinates.[0]}}"
                hidden
              />
              <input
                type="text"
                class="markers-lat"
                value="{{location.coordinates.[1]}}"
                hidden
              />
              <input
                type="text"
                class="activity-id"
                value="{{_id}}"
                hidden
              />
            {{/each}}
          </ol>
          <div class="distance">
          </div>
          {{else}}
          <span>No activities for this date</span>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </aside>

</div>
<div class="row">

</div>

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=places"
>
</script>
<script src="../../../js/maps.js"></script>