<h2>Trip to {{trip.cityName}} from {{trip.formatStartDate}} to {{trip.formatEndDate}}</h2>
<div class="container trip-details">
  <div id="map"></div>
  <div id="infowindow-content">
    <form action="/trips/trip-details/{{trip._id}}/create" method="post">
      <div id="new-place-name"></div>
      <div id="new-place-address"></div>
      <input type="hidden" name="newActName" id="newActName" />
      <input type="hidden" name="newActlLat" id="newActlLat" />
      <input type="hidden" name="newActlLng" id="newActlLng" />
      <input
        type="hidden"
        name="initLat"
        id="initLat"
        value="{{trip.cityLocation.coordinates.[0]}}"
      />
      <input
        type="hidden"
        name="initLng"
        id="initLng"
        value="{{trip.cityLocation.coordinates.[1]}}"
      />
      <div id="submitBtn"></div>
    </form>
  </div>
  <aside>
    <input type="text" name="searchActivities" id="searchActivities" />
    {{#each activities}}
    <form action="/trips/trip-details/{{_id}}/delete/{{trip._id}}" method="post"></form>
      <p class="place-name">{{name}}</p>
      <input
        type="text"
        class="dbLng"
        value="{{location.coordinates.[0]}}"
        hidden
      />
      <input
        type="text"
        class="dbLat"
        value="{{location.coordinates.[1]}}"
        hidden
      />
      <button type="submit">Remove</button>
      </form>
    {{/each}}
  </aside>

</div>
<div class="row">
  {{#each trip.days}}
    <div class="card dayactivities">
      <div class="card-body">
        <h5 class="card-title">{{date}}</h5>
        <p class="card-text">X many activities</p>
      </div>
    </div>
  {{/each}}

</div>

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=places"
>
</script>
<script src="../../../js/maps.js"></script>