<h3>Hey
  {{firstName}}
  !</h3>

<h4>Today is a good day to plan some trips !</h4>

<a href="/">Back Home</a>

<br />
<br />
<br />
<br />
<br />
<br />
<div>
  <h3>About you</h3>
  <div class="profile-section">
    <div class="px-5">
      <p>your first name: <span>{{firstName}}</span></p>
      <p>your last name: <span>{{lastName}}</span></p>
      <p>your email: <span>{{email}}</span> </p>
      <p> <a href="/">Delete your account</a></p>

    </div>

    <div class="profile-header-img px-5">
      <img src="{{profileImage}}" alt="" class="img-circle" />
    </div>
  </div>
</div>