<h1>Checkout your trips</h1>
<main class="container row">
  <div class="card trip-cards">
    <div class="card-body">
      <h5 class="card-title">Input new trip</h5>
      <form action="/trips/create" method="post">
        <label for="cityName">City Name</label>
        <input type="text" name="cityName" id="cityName" />
        <input type="hidden" name="cityLocationLat" id="cityLocationLat">
        <input type="hidden" name="cityLocationLng" id="cityLocationLng">
        <input type="hidden" name="photoUrl" id="photoUrl">
        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate" />
        <label for="endDate">End Date</label>
        <input type="date" name="endDate" id="endDate" />
        <label for="accomodation">Accomodation</label>
        <input type="text" name="accomodation" id="accomodation" />
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
  {{#each data.trips}}
    <div class="card trip-cards">
      {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
      <div class="card-body">
        <h5 class="card-title">{{cityName}}</h5>
        <img src={{photoUrl}} alt="photo-trip" class="card-img-top">
        <p class="card-text">Start Date: {{formatStartDate}}</p>
        <p class="card-text">End Date: {{formatEndDate}}</p>
        <p class="card-text">Accomodation: {{accomodation.name}}</p>

        <div >
           <a href="/trips/trip-details/{{_id}}" class="btn btn-primary px-5 btn-block">Add
          Activities</a>
{{!--         <a href="/trips/trip-overview/{{_id}}" class="btn btn-primary">Trip Overview</a> --}}
       <br>
       <br>
        <form action="/trips/delete/{{_id}}" method="post">
          <button type="submit" class="btn btn-danger px-5 ">Delete</button>
        </form>
        </div>
               
      </div>
    </div>
  {{/each}}
</main>
  <script src="../js/places.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initSearch&libraries=places"
>