<main class="container my-4">
  <h1>Checkout your trips</h1>
  <div class="row d-flex justify-content-start flex-wrap">
  <div class="card trip-cards col-3">
    <div class="card-body">
      <form class=" h-100 d-flex flex-column justify-content-evenly" action="/trips/create" method="post">
            <h5 class="card-title">Input new trip</h5>
        <label for="cityName">City Name</label>
        <input type="text" name="cityName" id="cityName" placeholder="Which city should we visit?" required />
        <input type="hidden" name="cityLocationLat" id="cityLocationLat">
        <input type="hidden" name="cityLocationLng" id="cityLocationLng">
        <input type="hidden" name="photoUrl" id="photoUrl">
        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate" required/>
        <label for="endDate">End Date</label>
        <input type="date" name="endDate" id="endDate" required/>
        <label for="accomodation">Accomodation</label>
        <input type="text" name="accomodation" id="accomodation" placeholder="We need a place to rest!" title="Choose a city to enable this field" required disabled/>
        <input type="hidden" name="accomodationLocationLat" id="accomodationLocationLat">
        <input type="hidden" name="accomodationLocationLng" id="accomodationLocationLng">
        <input type="hidden" name="accomodationName" id="accomodationName">
        <button class="btn btn-success" type="submit">Create</button>
      </form>
    </div>
  </div>
  {{#each data.trips}}
    <div class="card trip-cards card col-3 p-0">
              <img src={{photoUrl}} alt="photo-trip" class="card-img-top">
              <h5 class="card-title position-absolute text-white px-2 py-3">{{cityName}}</h5>
             {{!--  <a href="/trips/calendar/{{_id}}" class="btn btn-primary position-absolute text-white m-2 calendar"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>     --}}
      <div class="card-body p-0 px-2 mt-2 d-flex flex-column justify-content-between">
        
        <p class="card-text">Start Date: {{formatStartDate}}</p>
        <p class="card-text">End Date: {{formatEndDate}}</p>
        <p class="card-text">Accomodation: {{accomodation.name}}</p>
           <a href="/trips/{{_id}}/trip-details/{{days.[0]}}" class="btn btn-success px-5 btn-block mb-4">Add
          Activities</a>
        <form class="d-grid gap-2" action="/trips/delete/{{_id}}" method="post">

          <button type="submit" class="btn btn-danger">Delete</button>
        </form> 
      </div>
    </div>
  {{/each}}
  </div>
</main>
  <script src="../js/places.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initSearch&libraries=places"
></script>